.tab-box {
    width: 80%;
    margin: 35px auto 0;
}
.tab-box .tab-content {
    padding-top: 15px;
}
.table-top {
    padding: 5px 10px;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
}
table td .btn {
    padding: 0 5px;
}