/*!
 * Fuel UX Loader styles
 */
@font-face {
    font-family: "webficonloader";
    src: url("../fonts/Loader/loader-webfont.eot");
    src: url("../fonts/Loader/loader-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Loader/loader-webfont.woff") format("woff"), url("../fonts/Loader/loader-webfont.ttf") format("truetype"), url("../fonts/Loader/loader-webfont.svg#webficonloader") format("svg");
    font-weight: normal;
    font-style: normal;
}
@-webkit-keyframes loader-frame-1 {
    from {
        content: "\e001";
    }
    14.286% {
        content: "\e002";
    }
    28.571% {
        content: "\e003";
    }
    42.857% {
        content: "\e004";
    }
    57.143% {
        content: "\e005";
    }
    71.429% {
        content: "\e006";
    }
    85.714% {
        content: "\e007";
    }
    to {
        content: "\e008";
    }
}
@-webkit-keyframes loader-frame-2 {
    from {
        content: "\e002";
    }
    14.286% {
        content: "\e003";
    }
    28.571% {
        content: "\e004";
    }
    42.857% {
        content: "\e005";
    }
    57.143% {
        content: "\e006";
    }
    71.429% {
        content: "\e007";
    }
    85.714% {
        content: "\e008";
    }
    to {
        content: "\e001";
    }
}
@-webkit-keyframes loader-frame-3 {
    from {
        content: "\e003";
    }
    14.286% {
        content: "\e004";
    }
    28.571% {
        content: "\e005";
    }
    42.857% {
        content: "\e006";
    }
    57.143% {
        content: "\e007";
    }
    71.429% {
        content: "\e008";
    }
    85.714% {
        content: "\e001";
    }
    to {
        content: "\e002";
    }
}
@-webkit-keyframes loader-frame-4 {
    from {
        content: "\e004";
    }
    14.286% {
        content: "\e005";
    }
    28.571% {
        content: "\e006";
    }
    42.857% {
        content: "\e007";
    }
    57.143% {
        content: "\e008";
    }
    71.429% {
        content: "\e001";
    }
    85.714% {
        content: "\e002";
    }
    to {
        content: "\e003";
    }
}
@-webkit-keyframes loader-frame-5 {
    from {
        content: "\e005";
    }
    14.286% {
        content: "\e006";
    }
    28.571% {
        content: "\e007";
    }
    42.857% {
        content: "\e008";
    }
    57.143% {
        content: "\e001";
    }
    71.429% {
        content: "\e002";
    }
    85.714% {
        content: "\e003";
    }
    to {
        content: "\e004";
    }
}
@-webkit-keyframes loader-frame-6 {
    from {
        content: "\e006";
    }
    14.286% {
        content: "\e007";
    }
    28.571% {
        content: "\e008";
    }
    42.857% {
        content: "\e001";
    }
    57.143% {
        content: "\e002";
    }
    71.429% {
        content: "\e003";
    }
    85.714% {
        content: "\e004";
    }
    to {
        content: "\e005";
    }
}
@-webkit-keyframes loader-frame-7 {
    from {
        content: "\e007";
    }
    14.286% {
        content: "\e008";
    }
    28.571% {
        content: "\e001";
    }
    42.857% {
        content: "\e002";
    }
    57.143% {
        content: "\e003";
    }
    71.429% {
        content: "\e004";
    }
    85.714% {
        content: "\e005";
    }
    to {
        content: "\e006";
    }
}
@-webkit-keyframes loader-frame-8 {
    from {
        content: "\e008";
    }
    14.286% {
        content: "\e001";
    }
    28.571% {
        content: "\e002";
    }
    42.857% {
        content: "\e003";
    }
    57.143% {
        content: "\e004";
    }
    71.429% {
        content: "\e005";
    }
    85.714% {
        content: "\e006";
    }
    to {
        content: "\e007";
    }
}
@keyframes loader-frame-1 {
    from {
        content: "\e001";
    }
    14.286% {
        content: "\e002";
    }
    28.571% {
        content: "\e003";
    }
    42.857% {
        content: "\e004";
    }
    57.143% {
        content: "\e005";
    }
    71.429% {
        content: "\e006";
    }
    85.714% {
        content: "\e007";
    }
    to {
        content: "\e008";
    }
}
@keyframes loader-frame-2 {
    from {
        content: "\e002";
    }
    14.286% {
        content: "\e003";
    }
    28.571% {
        content: "\e004";
    }
    42.857% {
        content: "\e005";
    }
    57.143% {
        content: "\e006";
    }
    71.429% {
        content: "\e007";
    }
    85.714% {
        content: "\e008";
    }
    to {
        content: "\e001";
    }
}
@keyframes loader-frame-3 {
    from {
        content: "\e003";
    }
    14.286% {
        content: "\e004";
    }
    28.571% {
        content: "\e005";
    }
    42.857% {
        content: "\e006";
    }
    57.143% {
        content: "\e007";
    }
    71.429% {
        content: "\e008";
    }
    85.714% {
        content: "\e001";
    }
    to {
        content: "\e002";
    }
}
@keyframes loader-frame-4 {
    from {
        content: "\e004";
    }
    14.286% {
        content: "\e005";
    }
    28.571% {
        content: "\e006";
    }
    42.857% {
        content: "\e007";
    }
    57.143% {
        content: "\e008";
    }
    71.429% {
        content: "\e001";
    }
    85.714% {
        content: "\e002";
    }
    to {
        content: "\e003";
    }
}
@keyframes loader-frame-5 {
    from {
        content: "\e005";
    }
    14.286% {
        content: "\e006";
    }
    28.571% {
        content: "\e007";
    }
    42.857% {
        content: "\e008";
    }
    57.143% {
        content: "\e001";
    }
    71.429% {
        content: "\e002";
    }
    85.714% {
        content: "\e003";
    }
    to {
        content: "\e004";
    }
}
@keyframes loader-frame-6 {
    from {
        content: "\e006";
    }
    14.286% {
        content: "\e007";
    }
    28.571% {
        content: "\e008";
    }
    42.857% {
        content: "\e001";
    }
    57.143% {
        content: "\e002";
    }
    71.429% {
        content: "\e003";
    }
    85.714% {
        content: "\e004";
    }
    to {
        content: "\e005";
    }
}
@keyframes loader-frame-7 {
    from {
        content: "\e007";
    }
    14.286% {
        content: "\e008";
    }
    28.571% {
        content: "\e001";
    }
    42.857% {
        content: "\e002";
    }
    57.143% {
        content: "\e003";
    }
    71.429% {
        content: "\e004";
    }
    85.714% {
        content: "\e005";
    }
    to {
        content: "\e006";
    }
}
@keyframes loader-frame-8 {
    from {
        content: "\e008";
    }
    14.286% {
        content: "\e001";
    }
    28.571% {
        content: "\e002";
    }
    42.857% {
        content: "\e003";
    }
    57.143% {
        content: "\e004";
    }
    71.429% {
        content: "\e005";
    }
    85.714% {
        content: "\e006";
    }
    to {
        content: "\e007";
    }
}
.loader {
    position: relative;
    width: 64px;
    height: 64px;
    font-size: 64px;
}
.loader:after,
.loader:before {
    font-family: "webficonloader" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.loader:before {
    content: '\e000';
    opacity: 0.33;
}
.loader.iefix:before {
    color: #bcbcbc;
    opacity: 1;
}
.loader:after {
    -webkit-animation-duration: 1.05s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 16.7ms;
    -webkit-animation-iteration-count: infinite;
            animation-duration: 1.05s;
            animation-timing-function: linear;
            animation-delay: 16.7ms;
            animation-iteration-count: infinite;
}
.loader[data-frame="1"]:after {
    content: '\e001';
    -webkit-animation-name: loader-frame-1;
            animation-name: loader-frame-1;
}
.loader[data-frame="2"]:after {
    content: '\e002';
    -webkit-animation-name: loader-frame-2;
            animation-name: loader-frame-2;
}
.loader[data-frame="3"]:after {
    content: '\e003';
    -webkit-animation-name: loader-frame-3;
            animation-name: loader-frame-3;
}
.loader[data-frame="4"]:after {
    content: '\e004';
    -webkit-animation-name: loader-frame-4;
            animation-name: loader-frame-4;
}
.loader[data-frame="5"]:after {
    content: '\e005';
    -webkit-animation-name: loader-frame-5;
            animation-name: loader-frame-5;
}
.loader[data-frame="6"]:after {
    content: '\e006';
    -webkit-animation-name: loader-frame-6;
            animation-name: loader-frame-6;
}
.loader[data-frame="7"]:after {
    content: '\e007';
    -webkit-animation-name: loader-frame-7;
            animation-name: loader-frame-7;
}
.loader[data-frame="8"]:after {
    content: '\e008';
    -webkit-animation-name: loader-frame-8;
            animation-name: loader-frame-8;
}