/*!
 * iCheck plugin skin
 * Updated by jinzhk in 2015/5/5.
 * 兼容IE8+
 */
.iradio, .icheckbox {
    display: inline-block;
    vertical-align: middle;
    margin: -3px 0 0;
    padding: 0;
    width: 16px;
    height: 16px;
    line-height: 17px;
    border: none;
    cursor: pointer;
    *display: inline; *zoom: 1;
}
.iradio.disabled, .icheckbox.disabled {
    cursor: not-allowed;
}
.radio .iradio,
.radio-inline .iradio,
.checkbox .icheckbox,
.checkbox-inline .icheckbox {
    position: relative;
    margin-right: 4px;
}
.radio label .iradio,
.radio-inline .iradio,
.checkbox label .icheckbox,
.checkbox-inline .icheckbox {
    margin-left: -20px;
}
.form-inline .radio label .iradio,
.form-inline .checkbox label .icheckbox {
    margin-left: 0;
}
@media (max-width: 767px) {
    .form-inline .radio label .iradio,
    .form-inline .checkbox label .icheckbox {
        margin-left: -20px;
    }
}
.radio .iradio + label,
.checkbox .icheckbox + label {
    margin-left: -27px;
    padding-left: 27px;
    position: relative;
    z-index: 1;
}
.iradio input[type="radio"],
.iradio:before, .iradio:after,
.icheckbox input[type="checkbox"],
.icheckbox:before, .icheckbox:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.iradio input[type="radio"],
.icheckbox input[type="checkbox"] {
    border: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    background: #FFFFFF;
}
.iradio:before,
.icheckbox:before {
    content: "";
    border: 1px solid #dddddd;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.iradio.iradio-bg-gray:before,
.icheckbox.icheckbox-bg-gray:before {
    background-color: #ccc;
    border-color: #999;
}
.iradio.checked:before,
.icheckbox.checked:before,
.iradio.hover:before,
.icheckbox.hover:before {
    background-color: #fff;
    border-color: #ddd;
}
.iradio:before {
    border-radius: 50%;
}
.no-borderradius .iradio:before {
    font-family: "FontAwesome";
    content: "\f1db";
    border: 0 none;
    color: #dddddd;
    font-size: 19px;
    line-height: 0.9;
    vertical-align: text-top;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.no-borderradius .iradio:after {
    color: #333333;
    font-size: 8px;
    line-height: 1;
}
.icheckbox:after {
    color: #555555;
    font-size: 11px;
    text-align: left;
    padding-left: 2px;
}
.iradio.checked:after,
.icheckbox.checked:after {
    font-family: 'FontAwesome';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.iradio.checked:after {
    content: "";
    width: 6px;
    height: 6px;
    line-height: 1;
    left: 50%; top: 50%;
    margin-left: -3px;
    margin-top: -3px;
    border-radius: 50%;
    background-color: #333333;
}
.no-borderradius .iradio.checked:after {
    content: "\f111";
    background: none;
}
.icheckbox.checked:after {
    content: "\f00c";
}
.iradio.hover:before,
.icheckbox.hover:before {
    border-color: #333333;
}
.no-borderradius .iradio.hover:before {
    color: #333333;
}
.iradio.checked.hover:before,
.icheckbox.checked.hover:before {
    border-color: #dddddd;
}
.no-borderradius .iradio.checked.hover:before {
    color: #dddddd;
}
.iradio.disabled.hover:before,
.icheckbox.disabled.hover:before,
.iradio.disabled.checked:before,
.icheckbox.disabled.checked:before,
.iradio.disabled.checked.hover:before,
.icheckbox.disabled.checked.hover:before {
    border-color: #eeeeee;
}
.no-borderradius .iradio.disabled.hover:before,
.no-borderradius .iradio.disabled.checked:before,
.no-borderradius .iradio.disabled.checked.hover:before {
    border-color: #eeeeee;
}
.icheckbox.disabled:after {
    color: #eeeeee;
}
.iradio.checked.disabled:after {
    background-color: #eeeeee;
}
.no-borderradius .iradio.checked.disabled:after {
    background: none;
    color: #eeeeee;
}

/* size */
.iradio-lg, .icheckbox-lg {
    width: 20px;
    height: 20px;
    line-height: 21px;
}
.radio .iradio-lg,
.radio-inline .iradio-lg,
.checkbox .icheckbox-lg,
.checkbox-inline .icheckbox-lg {
    margin-right: 6px;
}
.no-borderradius .iradio-lg:before {
    font-size: 25px;
}
.no-borderradius .iradio-lg.checked:after {
    font-size: 11px;
    margin-left: -5px;
    margin-top: -5px;
}
.iradio-lg.checked:after {
    width: 8px;
    height: 8px;
    margin-left: -4px;
    margin-top: -4px;
}
.icheckbox-lg:after {
    font-size: 14px;
    padding-left: 3px;
}

/* skins */
.iradio-primary:after,
.icheckbox-primary:after {
    color: #ffffff;
}
.iradio-primary.hover:before,
.iradio-primary.checked:before,
.iradio-primary.checked.hover:before,
.icheckbox-primary.hover:before,
.icheckbox-primary.checked:before,
.icheckbox-primary.checked.hover:before {
    border: 2px solid #2489c5;
}
.iradio-primary.checked:after,
.icheckbox-primary.checked:after {
    background-color: #2489c5;
}
.icheckbox-primary.disabled.hover:before,
.icheckbox-primary.disabled.checked:before,
.icheckbox-primary.disabled.checked.hover:before {
    border: 2px solid #e9e7e3;
}
.icheckbox-primary.disabled.checked:after {
    color: #ffffff;
    background-color: #e9e7e3;
}

.iradio-success:after,
.icheckbox-success:after {
    color: #ffffff;
}
.iradio-success.hover:before,
.iradio-success.checked:before,
.iradio-success.checked.hover:before,
.icheckbox-success.hover:before,
.icheckbox-success.checked:before,
.icheckbox-success.checked.hover:before {
    border: 2px solid #5cb85c;
}
.iradio-success.checked:after,
.icheckbox-success.checked:after {
    background-color: #5cb85c;
}
.no-borderradius .iradio-success.hover:before,
.no-borderradius .iradio-success.checked:before,
.no-borderradius .iradio-success.checked.hover:before {
    border: 0 none;
    color: #5cb85c;
}
.no-borderradius .iradio-success.checked:after {
    background: none;
    color: #5cb85c;
}
.icheckbox-success.disabled.hover:before,
.icheckbox-success.disabled.checked:before,
.icheckbox-success.disabled.checked.hover:before {
    border: 2px solid #e9e7e3;
}
.icheckbox-success.disabled.checked:after {
    color: #ffffff;
    background-color: #e9e7e3;
}

.iradio-info:after,
.icheckbox-info:after {
    color: #ffffff;
}
.iradio-info.hover:before,
.iradio-info.checked:before,
.iradio-info.checked.hover:before,
.icheckbox-info.hover:before,
.icheckbox-info.checked:before,
.icheckbox-info.checked.hover:before {
    border: 2px solid #5bc0de;
}
.iradio-info.checked:after,
.icheckbox-info.checked:after {
    background-color: #5bc0de;
}
.no-borderradius .iradio-info.hover:before,
.no-borderradius .iradio-info.checked:before,
.no-borderradius .iradio-info.checked.hover:before {
    border: 0 none;
    color: #5bc0de;
}
.no-borderradius .iradio-info.checked:after {
    background: none;
    color: #5bc0de;
}
.icheckbox-info.disabled.hover:before,
.icheckbox-info.disabled.checked:before,
.icheckbox-info.disabled.checked.hover:before {
    border: 2px solid #e9e7e3;
}
.icheckbox-info.disabled.checked:after {
    color: #ffffff;
    background-color: #e9e7e3;
}

.iradio-warning:after,
.icheckbox-warning:after {
    color: #ffffff;
}
.iradio-warning.hover:before,
.iradio-warning.checked:before,
.iradio-warning.checked.hover:before,
.icheckbox-warning.hover:before,
.icheckbox-warning.checked:before,
.icheckbox-warning.checked.hover:before {
    border: 2px solid #f0ad4e;
}
.iradio-warning.checked:after,
.icheckbox-warning.checked:after {
    background-color: #f0ad4e;
}
.no-borderradius .iradio-warning.hover:before,
.no-borderradius .iradio-warning.checked:before,
.no-borderradius .iradio-warning.checked.hover:before {
    border: 0 none;
    color: #f0ad4e;
}
.no-borderradius .iradio-warning.checked:after {
    background: none;
    color: #f0ad4e;
}
.icheckbox-warning.disabled.hover:before,
.icheckbox-warning.disabled.checked:before,
.icheckbox-warning.disabled.checked.hover:before {
    border: 2px solid #e9e7e3;
}
.icheckbox-warning.disabled.checked:after {
    color: #ffffff;
    background-color: #e9e7e3;
}

.iradio-danger:after,
.icheckbox-danger:after {
    color: #ffffff;
}
.iradio-danger.hover:before,
.iradio-danger.checked:before,
.iradio-danger.checked.hover:before,
.icheckbox-danger.hover:before,
.icheckbox-danger.checked:before,
.icheckbox-danger.checked.hover:before {
    border: 2px solid #d9534f;
}
.iradio-danger.checked:after,
.icheckbox-danger.checked:after {
    background-color: #d9534f;
}
.no-borderradius .iradio-danger.hover:before,
.no-borderradius .iradio-danger.checked:before,
.no-borderradius .iradio-danger.checked.hover:before {
    border: 0 none;
    color: #d9534f;
}
.no-borderradius .iradio-danger.checked:after {
    background: none;
    color: #d9534f;
}
.icheckbox-danger.disabled.hover:before,
.icheckbox-danger.disabled.checked:before,
.icheckbox-danger.disabled.checked.hover:before {
    border: 2px solid #e9e7e3;
}
.icheckbox-danger.disabled.checked:after {
    color: #ffffff;
    background-color: #e9e7e3;
}

/* shape */
.iradio.iradio-checkbox:before,
.iradio.iradio-checkbox:after,
.iradio.iradio-checkbox.checked:after {
    -webkit-border-radius: 0;
    border-radius: 0;
}
.no-borderradius .iradio.iradio-checkbox.checked:after {
    content: "\f0c8";
}
.icheckbox.icheckbox-radio:before,
.icheckbox.icheckbox-radio:after {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}