.app-loader-page {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 99999;
}

.app-loader-page .loader,
.app-loader-include .loader {
  width: 32px;
  height: 32px;
  font-size: 32px;
}

.app-loader-page .loader {
    margin-left: -16px;
    margin-top: -32px;
}

.app-loader-include .loader {
    position: relative;
    left: 50%;
    margin-left: -16px;
}

[id^="app-view-"] .container {
  width: 100%;
}