html, body {
    margin: 0;
}

body {
    padding-top: 44px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

/*--header--*/
header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1050;
    width: 100%;
    height: 44px;
    background: #191919;
    border-bottom: 1px solid #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.container {
    width: 90%;
    margin: 0 auto;
}

header > .container {
    height: 100%;
}

header .logo {
    float: left;
}

header .logo > a {
    line-height: 44px;
    color: #eee;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

header .nav {
    margin-left: 110px;
}

.nav-item {
    float: left;
    display: block;
    line-height: 44px;
    color: #999;
    margin-left: 30px;
    font-size: 16px;
}

.nav-item:hover,
.nav-item.on {
    color: #FFF;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000, 0 0 10px rgba(255, 255, 255, .4), 0 0 15px rgba(255, 255, 255, .6), 0 0 25px rgba(255, 255, 255, .8), 0 0 30px #FFF;
}

.banner {
    padding: 15px 0 35px;
    color: #FDF3E7;
    background: #0E90D2;
}

.banner h1 {
    font-size: 55px;
    line-height: 1;
    letter-spacing: 2px;
}

.banner p {
    margin-right: 268px;
    color: #dedede;
    font-size: 28px;
}

.banner-btn {
    padding-top: 10px;
}

.banner-btn .btn {
    margin: 0 .5em;
    padding: 8px 12px;
    font-size: 20px;
    border-radius: 0;
}

aside {
    width: 268px;
    float: right;
    margin-top: 35px;
    padding-left: 50px;
    overflow: auto;
}

aside.affix {
    float: none;
    top: 20px;
    right: 5%;
    margin-right: 15px;
}

aside ul {
    padding-left: 0;
    list-style: none;
}

aside > .nav li > a {
    color: #767676;
    display: block;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    padding: 5px 20px;
}

aside > .nav li > .nav {
    display: none;
}

aside > .nav li.active > .nav {
    display: block;
}

aside .nav-second-level > li > a {
    font-size: 13px;
    padding-bottom: 4px;
    padding-left: 30px;
    padding-top: 4px;
}

aside .nav-third-level > li > a {
    font-size: 12px;
    line-height: 1;
    padding-bottom: 3px;
    padding-left: 40px;
    padding-top: 3px;
}

aside > .sidenav li.active > a,
aside > .sidenav li > a:hover,
aside > .sidenav li > a:focus,
aside > .sidenav li > a:active {
    color: #0e90d2;
    border-left: 1px solid #0e90d2;
    padding-left: 19px;
    text-decoration: none;
}

aside .nav-second-level li.active > a,
aside .nav-second-level li > a:hover,
aside .nav-second-level li > a:focus,
aside .nav-second-level li > a:active {
    padding-left: 29px;
}

aside .nav-third-level li.active > a,
aside .nav-third-level li > a:hover,
aside .nav-third-level li > a:focus,
aside .nav-third-level li > a:active {
    padding-left: 39px;
}

aside > .sidenav li.active > a,
aside > .sidenav li.active > a:hover,
aside > .sidenav li.active > a:focus,
aside > .sidenav li.active > a:active {
    padding-left: 18px;
    border-left-width: 2px;
}

aside .nav-second-level li.active > a,
aside .nav-second-level li.active > a:hover,
aside .nav-second-level li.active > a:focus,
aside .nav-second-level li.active > a:active {
    padding-left: 28px;
}

aside .nav-third-level li.active > a,
aside .nav-third-level li.active > a:hover,
aside .nav-third-level li.active > a:focus,
aside .nav-third-level li.active > a:active {
    padding-left: 38px;
}

aside > .sidetools {
    margin-top: 10px;
}

aside > .sidetools li {
    position: relative;
}

aside > .sidetools li > a {
    color: #999;
}

aside > .sidetools li > a:hover {
    color: #444;
}

aside > .sidetools li > a.link-back-top {
    font-size: 13px;
}

aside > .sidetools li > a.link-back-top:after {
    position: relative;
    top: -1px;
    left: .5em;
    content: "\f176";
    font-family: FontAwesome;
}

.content {
    margin-right: 268px;
    padding-bottom: 50px;
}

section {
    color: #34495e;
}

section > h1,
section > h2,
section > h3,
section > h4,
section > h5,
section > h6 {
    position: relative;
    color: #2c3e50;
    font: normal bold 24px/1.1 "宋体", simsun;
    margin: 35px 0 0.8em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
}

section > h3,
section > h4,
section > h5,
section > h6 {
    margin-top: 25px;
    margin-bottom: .6em;
    padding-bottom: 0;
    border-bottom: 0 none;
}

section > h1 {
    font-size: 26px;
}

section > h4 {
    font-size: 20px;
}

section > h5 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: .5em;
}

section > h6 {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: .5em;
}

section > h1 .icon-anchor,
section > h2 .icon-anchor,
section > h3 .icon-anchor,
section > h4 .icon-anchor,
section > h5 .icon-anchor,
section > h6 .icon-anchor {
    display: none;
}

section > h1 .icon-anchor:hover,
section > h1:hover .icon-anchor,
section > h2 .icon-anchor:hover,
section > h2:hover .icon-anchor,
section > h3 .icon-anchor:hover,
section > h3:hover .icon-anchor,
section > h4 .icon-anchor:hover,
section > h4:hover .icon-anchor,
section > h5 .icon-anchor:hover,
section > h5:hover .icon-anchor,
section > h6 .icon-anchor:hover,
section > h6:hover .icon-anchor {
    display: block;
}

section > p {
    line-height: 1.75em;
    margin: 1.2em 0 -1.2em;
    padding-bottom: 1.2em;
    word-break: break-all;
    word-wrap: break-word;
}

section a {
    color: #0e90d2;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

section > p.lead {
    font-size: 19px;
    margin-top: 0;
    padding-bottom: 0;
}

section.lead > p {
    font-size: 21px;
    margin-top: 0;
}

.icon-anchor {
    position: absolute;
    left: -1.35em;
    top: .15em;
    padding-right: .35em;
    font-size: .85em;
    font-weight: normal;
    font-family: FontAwesome;
}

.icon-anchor:after {
    content: "\f292";
}

section > figure,
section > ul,
section > .table-responsive {
    margin: 1.2em auto;
}

/*
 * Code snippets
 *
 * Generated via Pygments and Jekyll, these are snippets of HTML, CSS, and JS.
 */

figure {
    position: relative;
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}
figure pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    word-break: normal;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
figure pre code {
    font-size: inherit;
    color: #333; /* Effectively the base text color */
}
figure pre code:first-child {
    display: inline-block;
    padding-right: 45px;
}
figure .hljs {
    padding: 0;
    background: none;
}
figure .btn-clipboard {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    border-top: 0 none;
    border-right: 0 none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-clipboard {
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    color: #767676;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e8;
}

.btn-clipboard.hover,
.btn-clipboard:hover {
    color: #fff;
    background-color: #0E90D2;
    border-color: #0E90D2;
}

.icon-browser {
    display: inline-block;
    width: 56px;
    height: 56px;
    background: url("../images/browsers.png") no-repeat 0 -100%;
}

.icon-browser.ie8 {
    background-position: 0 0;
}

.icon-browser.ff {
    background-position: 0 -56px;
}

.icon-browser.chrome {
    background-position: 0 -112px;
}

.icon-browser.opera {
    background-position: 0 -168px;
}

.icon-browser.safari {
    background-position: 0 -224px;
}

section > .table {
    margin-top: 1.2em;
}

.table > thead > tr > th,
.table > tbody > tr > td {
    text-align: left;
    vertical-align: middle;
}

.table.text-center > thead > tr > th,
.table.text-center > tbody > tr > td {
    text-align: center;
}

.table > thead > tr > th .control-label,
.table > tbody > tr > td .control-label {
    display: block;
    font-weight: normal;
}

/*
 * Grid examples
 *
 * Highlight the grid columns within the docs so folks can see their padding,
 * alignment, sizing, etc.
 */
.show-grid {
    margin-top: 1.2em;
}
.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

/*
 * Examples
 *
 * Isolated sections of example content for each component or feature. Usually
 * followed by a code snippet.
 */
.example-box {
    position: relative;
    margin: 1.2em auto 15px;
    padding: 45px 15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}
/* Echo out a label for the example */
.example-box:after {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "实例：";
}
.example-box-padded-bottom {
    padding-bottom: 24px;
}
/* Tweak display of the code snippets when following an example */
.example-box + .example-code,
.example-box + .zero-clipboard + .example-code {
    margin: -15px -15px 15px;
    border-width: 0 0 1px;
    border-radius: 0;
}
/* Make the examples and snippets not full-width */
@media (min-width: 768px) {
    .example-box {
        margin-right: 0;
        margin-left: 0;
        background-color: #fff;
        border-color: #ddd;
        border-width: 1px;
        border-radius: 4px 4px 0 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .example-box + .example-code,
    .example-box + .zero-clipboard + .example-code {
        margin-top: -16px;
        margin-right: 0;
        margin-left: 0;
        border-width: 1px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .example-box-standalone {
        border-radius: 4px;
    }
}
/* Undo width of container */
.example-box .container {
    width: auto;
}

section > .table-responsive:last-child,
section > .table-responsive > .table:last-child,
.example-box > .alert:last-child,
.example-box > .form-control:last-child,
.example-box > .jumbotron:last-child,
.example-box > .list-group:last-child,
.example-box > .navbar:last-child,
.example-box > .panel:last-child,
.example-box > .progress:last-child,
.example-box > .table-responsive:last-child,
.example-box > .table-responsive > .table:last-child,
.example-box > .table:last-child,
.example-box > .well:last-child,
.example-box > blockquote:last-child,
.example-box > ol:last-child,
.example-box > p:last-child,
.example-box > ul:last-child,
.example-box > pre:last-child,
.example-box > figure:last-child {
    margin-bottom: 0;
}

.example-box > p > .close {
    float: none;
}

section > .example-code {
    margin-top: -1.2em;
}

/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.callout p:last-child {
    margin-bottom: 0;
}
.callout code {
    border-radius: 3px;
}

/* Tighten up space between multiple callouts */
.callout + callout {
    margin-top: -5px;
}

/* Variations */
.callout-danger {
    border-left-color: #ce4844;
}
.callout-danger h4 {
    color: #ce4844;
}
.callout-warning {
    border-left-color: #aa6708;
}
.callout-warning h4 {
    color: #aa6708;
}
.callout-info {
    border-left-color: #1b809e;
}
.callout-info h4 {
    color: #1b809e;
}

/*
 * Glyphicons
 *
 * Special styles for displaying the icons and their classes in the docs.
 */

.glyphicons {
    margin: 1.2em -10px 20px;
    overflow: hidden;
}
.glyphicons-list {
    padding-left: 0;
    list-style: none;
}
.glyphicons li {
    float: left;
    width: 25%;
    height: 115px;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #fff;
}
.glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word; /* Help out IE10+ with class names */
}
.glyphicons li:hover {
    color: #fff;
    background-color: #0E90D2;
}

@media (min-width: 768px) {
    .glyphicons {
        margin-right: 0;
        margin-left: 0;
    }
    .glyphicons li {
        width: 12.5%;
        font-size: 12px;
    }
}

/* Typography */
.example-box-type .table .type-info {
    color: #767676;
    vertical-align: middle;
}
.example-box-type .table td {
    padding: 15px 0;
    border-color: #eee;
}
.example-box-type .table tr:first-child td {
    border-top: 0;
}
.example-box-type h1,
.example-box-type h2,
.example-box-type h3,
.example-box-type h4,
.example-box-type h5,
.example-box-type h6 {
    margin: 0;
}

/* Contextual background colors */
.example-box-bg-classes p {
    padding: 15px;
}

/* Images */
.example-box > .img-circle,
.example-box > .img-rounded,
.example-box > .img-thumbnail {
    margin: 5px;
}

/* Tables */
.example-box > .table-responsive > .table {
    background-color: #fff;
}

/* Buttons */
.example-box > .btn,
.example-box > .btn-group {
    margin-top: 5px;
    margin-bottom: 5px;
}
.example-box > .btn-toolbar + .btn-toolbar {
    margin-top: 10px;
}
.example-box button.list-group-item {
    width: 100%;
    text-align: left;
}

/* Forms */
.example-box-control-sizing select,
.example-box-control-sizing input[type="text"] + input[type="text"] {
    margin-top: 10px;
}
.example-box-form .input-group {
    margin-bottom: 10px;
}
.example-box > textarea.form-control {
    resize: vertical;
}

/* List groups */
.example-box > .list-group {
    max-width: 400px;
}

/*
 * Navbars
 */
.example-box .navbar:last-child {
   margin-bottom: 0;
}
.example-navbar-top,
.example-navbar-bottom {
    z-index: 1;
    padding: 0;
    overflow: hidden; /* cut the drop shadows off */
}
.example-navbar-top .navbar-header,
.example-navbar-bottom .navbar-header {
    margin-left: 0;
}
.example-box .navbar-fixed-bottom,
.example-box .navbar-fixed-top {
    position: relative;
    margin-right: 0;
    margin-left: 0;
}
.example-box .navbar-fixed-top {
    top: -1px;
}
.example-box .navbar-fixed-bottom {
    bottom: -1px;
}
@media (min-width: 768px) {
    .example-box .navbar-fixed-bottom,
    .example-box .navbar-fixed-top {
        position: absolute;
    }
    .example-box .navbar-fixed-top {
        top: 0;
    }
    .example-box .navbar-fixed-bottom {
        bottom: 0;
    }
}
.example-navbar-top {
    padding-top: 0;
    padding-bottom: 45px;
}
.example-navbar-top:after {
    top: auto;
    bottom: 15px;
}
.example-navbar-bottom {
    padding-top: 45px;
    padding-bottom: 0;
}

/* Pagination */
.example-box .pagination {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Pager */
.example-box > .pager {
    margin-top: 0;
}

/* Example modals */
.example-box-modal {
    background-color: #f5f5f5;
}
.example-box-modal .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
}
.example-box-modal .modal-dialog {
    left: auto;
    margin-right: auto;
    margin-left: auto;
}

/* Example dropdowns */
.example-box > .dropdown > .dropdown-toggle {
    float: left;
}
.example-box > .dropdown > .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 5px;
    clear: left;
}

/* Example tabbable tabs */
.example-box-tabs .nav-tabs {
    margin-bottom: 15px;
}

/* Tooltips */
.example-box-tooltips {
    text-align: center;
}
.example-box-tooltips > .btn {
    margin-top: 5px;
    margin-bottom: 5px;
}
.example-box-tooltip .tooltip {
    position: relative;
    display: inline-block;
    margin: 10px 20px;
    opacity: 1;
}

/* Popovers */
.example-box-popover {
    padding-bottom: 24px;
    background-color: #f9f9f9;
}
.example-box-popover .popover {
    position: relative;
    display: block;
    float: left;
    width: 260px;
    margin: 20px;
}

/* Scrollspy demo on fixed height div */
.example-scrollspy {
    position: relative;
    height: 200px;
    margin-top: 10px;
    overflow: auto;
}

.example-box > .example-nav-pills-stacked {
    max-width: 300px;
}

/* Simple collapse example */
#collapseExample .well {
    margin-bottom: 0;
}

/*
 * Responsive tests
 *
 * Generate a set of tests to show the responsive utilities in action.
 */

/* Responsive (scrollable) doc tables */
.table-responsive .highlight pre {
    white-space: normal;
}

/* Utility classes table  */
.bs-table th small,
.responsive-utilities th small {
    display: block;
    font-weight: normal;
    color: #999;
}
.responsive-utilities tbody th {
    font-weight: normal;
}
.responsive-utilities td {
    text-align: center;
}
.responsive-utilities td.is-visible {
    color: #468847;
    background-color: #dff0d8 !important;
}
.responsive-utilities td.is-hidden {
    color: #ccc;
    background-color: #f9f9f9 !important;
}

/* Responsive tests */
.responsive-utilities-test {
    margin-top: 1.2em;
}
.responsive-utilities-test .col-xs-6 {
    margin-bottom: 10px;
}
.responsive-utilities-test span {
    display: block;
    padding: 15px 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.1;
    text-align: center;
    border-radius: 4px;
}
.visible-on .col-xs-6 .hidden-xs,
.visible-on .col-xs-6 .hidden-sm,
.visible-on .col-xs-6 .hidden-md,
.visible-on .col-xs-6 .hidden-lg,
.hidden-on .col-xs-6 .hidden-xs,
.hidden-on .col-xs-6 .hidden-sm,
.hidden-on .col-xs-6 .hidden-md,
.hidden-on .col-xs-6 .hidden-lg {
    color: #999;
    border: 1px solid #ddd;
}
.visible-on .col-xs-6 .visible-xs-block,
.visible-on .col-xs-6 .visible-sm-block,
.visible-on .col-xs-6 .visible-md-block,
.visible-on .col-xs-6 .visible-lg-block,
.hidden-on .col-xs-6 .visible-xs-block,
.hidden-on .col-xs-6 .visible-sm-block,
.hidden-on .col-xs-6 .visible-md-block,
.hidden-on .col-xs-6 .visible-lg-block {
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
}

.scrollspy-example {
    height: 200px;
    margin-top: 10px;
    overflow: auto;
    position: relative;
}

.example-box > .nav-pills-stacked-example {
    max-width: 300px;
}

#collapseExample .well {
    margin-bottom: 0;
}

.bs-events-table > tbody > tr > td:first-child,
.bs-events-table > thead > tr > th:first-child {
    white-space: nowrap;
}

.bs-events-table > thead > tr > th:first-child {
    width: 150px;
}

.js-options-table > thead > tr > th:nth-child(1),
.js-options-table > thead > tr > th:nth-child(2) {
    width: 100px;
}

.js-options-table > thead > tr > th:nth-child(3) {
    width: 150px;
}