<div class="banner text-center">
  <div class="container">
    <h1>YFjs</h1>
    <h2>一个基于AMD规范的组件库，内含简洁SPA框架，便于快速构建单页面应用系统</h2>
    <div class="banner-btn">
      <a class="btn btn-success">
        <i class="fa fa-download"></i> 下载编译包 <small>v0.8.0</small>
      </a>
      <a class="btn btn-default" href="https://github.com/jinzhk/yfjs" target="_blank">
        <i class="fa fa-github"></i> GitHub源码
      </a>
    </div>
  </div>
</div>
<div class="container clearfix">
  <aside>
    <ul class="nav sidenav">
      <li>
        <a class="link-anchor" href="#介绍">介绍</a>
      </li>
      <li>
        <a class="link-anchor" href="#使用说明">使用说明</a>
      </li>
      <li>
        <a class="link-anchor" href="#浏览器兼容性">浏览器兼容性</a>
      </li>
    </ul>
    <ul class="nav sidetools">
      <li>
        <a class="link-back-top" href="javascript:;">返回顶部</a>
      </li>
    </ul>
  </aside>
  <div class="content">
    <section>
      <h2 id="介绍">
        <a class="link-anchor icon-anchor" href="#介绍"></a>介绍
      </h2>
      <p>
        YoungFront（简称 Y&sdot;F）是一个由几个“年轻”但热爱前端技术的前端人组成的兴趣小组，寄意于“年轻有活力”。
      </p>
      <p>
        YFjs是一个组件库，其中大部分是一些第三方的库（感谢众多前端大神），比如jQuery、Requirejs、Modernizr、Bootstrap等开源库和框架是这个组件库的核心依赖，我们基于这些库和框架做了一些前端“轮子”，并按照 Requirejs 的模块加载规则进行了规范和整理，使众多前端组件更易使用。
      </p>
      <p>
        另外，这个组件库里还包含一个我们精心设计的前端框架 <code>yfjs/spa</code>。顾名思义，它是一个 SPA（Single Page Application 单页面应用）框架，风格简洁，配置和约定共同驱动，导航 <a href="/spa">SPA框架</a> 下详细介绍了这个框架，欢迎试用。
      </p>
      <p>
        总之，YFjs不仅能够帮助我们快速使用弹出框、美化后的下拉框和单/复选框、滚动条等UI组件，也能使用JSON转换、Cookie处理、日期格式处理等工具插件，更能配合内含的 SPA 框架快速构建一个单页面应用系统，让我们的前端开发更便捷。
      </p>
    </section>
    <!--
    <section>
      <h2 id="特色">
        <a class="link-anchor icon-anchor" href="#特色"></a>特色
      </h2>
      <p>
        与目前比较强大且成熟的前端框架Angular、Ember、React、Vue等相比，<code>yfjs/spa</code>框架采用AMD规范，在写法上不存在js的新的或更高级的用法，在使用时，使用者只需关注有哪些配置项可使用以及遵守必要的规则即可，减少了大量入门学习时间。
      </p>
    </section>
    -->
    <section>
      <h2 id="使用说明">
        <a class="link-anchor icon-anchor" href="#使用说明"></a>使用说明
      </h2>
      <p>
        编译包内包含 <strong>minified</strong> 和 <strong>original</strong> 两个目录，分别对应 <strong>压缩后</strong> 和 <strong>未压缩</strong> 的组件库代码，可酌情使用。
      </p>
      <p>
        目录结构如：
      </p>
      <figure>
      <pre><code class="no-highlight">- yfjs-lib
  - minified
    - fonts
      + FontAwesome        <<< FontAwesome图标库字体
      + GlyphiconHalflings <<< Bootstrap内含图标字体
      + Loader             <<< 默认加载中样式图标字体
    - scripts
      + ...      <<< 已打包的各组件模块
      | yfjs.js  <<< 组件库入口js文件
    - styles
      | base.css <<< 基本样式文件
  - original
    ...      <<< 与 minified 目录下结构一致</code></pre>
        <button class="btn btn-clipboard" type="button">复制</button>
      </figure>
      <p>
        使用组件库时，只需在 <code>head</code> 标签内引入基本样式文件 <code>base.css</code> 和组件库的入口js文件 <code>yfjs.js</code> 即可。
      </p>
      <figure>
        <pre><code class="html">&lt;link rel="stylesheet" href="[yfjs-lib path]/styles/base.css"&gt;
&lt;script src="[yfjs-lib path]/scripts/yfjs.js"&gt;&lt;/script&gt;</code></pre>
        <button class="btn btn-clipboard" type="button">复制</button>
      </figure>
      <p>基本样式文件 <code>base.css</code> 内包含 Bootstrap 3 的全套样式，以及默认引入的组件和一些增强样式。</p>
      <p>组件库入口文件 <code>yfjs.js</code> 中包含以下默认引入的组件（按先后次序）：</p>
      <figure>
        <pre><code class="no-highlight">| Modernizr (customized on v2.8.3)
| Requirejs (enhanced on v2.1.17)
| jQuery (v1.9.1)
| jquery Plugins
  - | $.fn.serializeObject <<< 将表单内容序列化为 json 对象
  - | $.parseQuery         <<< 将 URL 路径上的参数字符串解析为 json 对象
  - Bootstrap Plugins (enhanced on v3.3.4)
    - | transition  <<< 动画效果适配插件
    - | scrollspy   <<< 滚动监听插件
    - | affix       <<< 固定元素插件
    - | dropdown    <<< 下拉框组件
  - Other Plugins
    - | Loader     <<< 默认加载中效果组件
    - | metismenu  <<< 折叠菜单组件
    - | iCheck     <<< 单选按钮和复选框美化组件
| YFjs (v0.8.0)  <<< 组件库工具类</code></pre>
        <button class="btn btn-clipboard" type="button">复制</button>
      </figure>
      <p>一个完整引入组件库资源的 HTML 页面类似于：</p>
      <figure>
        <pre><code class="html">&lt;!DOCTYPE html&gt;
&lt;html class="no-js"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta http-equiv="X-UA-Compatible" content="IE=edge"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
    &lt;meta name="renderer" content="webkit"&gt;
    &lt;title&gt;Web Title&lt;/title&gt;
    &lt;!-- styles --&gt;
    &lt;link rel="stylesheet" href="[yfjs-lib path]/styles/base.css"&gt;
    &lt;!-- scripts --&gt;
    &lt;script src="[yfjs-lib path]/scripts/yfjs.js"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
        <button class="btn btn-clipboard" type="button">复制</button>
      </figure>
    </section>
    <section>
      <h2 id="浏览器兼容性">
        <a class="link-anchor icon-anchor" href="#浏览器兼容性"></a>浏览器兼容版本
      </h2>
      <p><code><i class="fa fa-check"></i></code> 表示支持的版本；<code>优</code>表示更佳体验版本。</p>
      <table class="table table-bordered text-center">
        <tr>
          <td>类型</td>
          <td><i class="icon-browser ie8"></i></td>
          <td><i class="icon-browser ff"></i></td>
          <td><i class="icon-browser chrome"></i></td>
          <td><i class="icon-browser opera"></i></td>
          <td><i class="icon-browser safari"></i></td>
        </tr>
        <tr>
          <td>版本</td>
          <td>
            <label class="control-label">(<i class="fa fa-check"></i>) IE 8+</label>
            <label class="control-label">(优) IE 9+</label>
          </td>
          <td>
            <label class="control-label">(<i class="fa fa-check"></i>) FireFox 2.0+</label>
            <label class="control-label">(优) FireFox 4.0+</label>
          </td>
          <td>
            <label class="control-label">(<i class="fa fa-check"></i>) Chrome 1.0+</label>
            <label class="control-label">(优) Chrome 4.0+</label>
          </td>
          <td>
            <label class="control-label">(<i class="fa fa-check"></i>) Opera 10.6+</label>
          </td>
          <td>
            <label class="control-label">(<i class="fa fa-check"></i>) Safari 3.1+</label>
          </td>
        </tr>
      </table>
    </section>
  </div>
</div>

<script src="/javascripts/docs.js"></script>