<div class="banner text-center">
  <div class="container">
    <h1>YFjs</h1>
    <h2>一个基于AMD规范的组件库，内含简洁SPA框架，便于快速构建单页面应用系统</h2>
    <div class="banner-btn">
      <a class="btn btn-success" href="https://github.com/inspur-iop/yfjs-compiled/archive/master.zip">
        <i class="fa fa-download"></i> 下载编译包 <small>v0.8.1</small>
      </a>
      <a class="btn btn-default" href="https://github.com/jinzhk/yfjs" target="_blank">
        <i class="fa fa-github"></i> GitHub源码
      </a>
    </div>
  </div>
</div>
<div class="container clearfix">
  <aside>
    <ul class="nav sidenav">
      <li>
        <a class="link-anchor" href="#guide-intro">介绍</a>
      </li>
      <li>
        <a class="link-anchor" href="#guide-usage">使用说明</a>
        <ul class="nav nav-second-level">
          <li>
            <a class="link-anchor" href="#guide-usage-start">引入组件库</a>
          </li>
          <li>
            <a class="link-anchor" href="#guide-usage-options">入口配置</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="link-anchor" href="#compatible-browser">浏览器兼容性</a>
      </li>
    </ul>
    <ul class="nav sidetools">
      <li>
        <a class="link-back-top" href="javascript:;">返回顶部</a>
      </li>
    </ul>
  </aside>
  <div class="content">
    <section>
      <h2 id="guide-intro">
        <a class="link-anchor icon-anchor" href="#guide-intro"></a>介绍
      </h2>
      <p>
        YoungFront（简称 Y&sdot;F）是一个由几个“年轻”但热爱前端技术的前端人组成的兴趣小组，寄意于“年轻有活力”。
      </p>
      <p>
        YFjs是一个组件库，其中大部分是一些第三方的库（感谢众多前端大神），比如jQuery、Requirejs、Bootstrap等开源库和框架是这个组件库的核心依赖，我们基于这些库和框架做了一些前端“轮子”，并按照 Requirejs 的模块加载规则进行了规范和整理，使众多前端组件更易使用。
      </p>
      <p>
        另外，这个组件库里还包含一个我们精心设计的前端框架 <code>yfjs/spa</code>。顾名思义，它是一个 SPA（Single Page Application 单页面应用）框架，风格简洁，配置和约定共同驱动，导航 <a href="/spa">SPA框架</a> 下详细介绍了这个框架，欢迎试用。
      </p>
      <p>
        总之，YFjs不仅能够帮助我们快速使用弹出框、美化后的下拉框和单/复选框、滚动条等UI组件，也能使用JSON转换、Cookie处理、日期格式处理等工具插件，更能配合内含的 SPA 框架快速构建一个单页面应用系统，让我们的前端开发更便捷。
      </p>
    </section>
    <section>
      <h2 id="guide-usage">
        <a class="link-anchor icon-anchor" href="#guide-usage"></a>使用说明
      </h2>
      <h3 id="guide-usage-start">
        <a class="link-anchor icon-anchor" href="#guide-usage-start"></a>引入组件库
      </h3>
      <p>
        编译包根目录下包含目录 <strong>minified</strong> 和 <strong>original</strong>，分别对应 <strong>压缩后</strong> 和 <strong>未压缩</strong> 的组件库代码；另包含 JavaScript 文件 <code>yfjs.js</code>，为组件库的入口 JS 文件。
      </p>
      <p>
        目录结构如：
      </p>
      <figure>
      <pre><code class="no-highlight">- yfjs-lib/
  - minified/
    - fonts/
      + FontAwesome/        <-- FontAwesome图标库字体
      + GlyphiconHalflings/ <-- Bootstrap内含图标字体
      + Loader/             <-- 默认加载中样式图标字体
    - modules/              
      - ...                 <-- 已打包的各组件模块
    - styles/
      - base.css            <-- 基本样式文件
    - yfjs-core.js          <-- 组件库核心 JS 文件
  - original/
    ...                     <-- 与 minified 目录下结构一致
  - yfjs.js                 <-- 组件库入口 JS 文件</code></pre>
      </figure>
      <p>
        使用组件库时，只需在 <code>head</code> 标签内引入组件库的入口 JS 文件 <code>yfjs.js</code> 即可。
      </p>
      <figure>
        <pre><code class="html">&lt;script src="[yfjs-lib path]/yfjs.js"&gt;&lt;/script&gt;</code></pre>
        <button class="btn btn-clipboard" type="button">复制</button>
      </figure>
      <p>
        <strong>入口 JS 文件会自动引入基本样式、核心 JS 库等组件库的相关文件资源。</strong>
      </p>
      <p>
        基本样式文件 <code>base.css</code> 内包含 Bootstrap 3 的全套样式，以及默认引入的组件和一些增强样式。在 <a href="/basecss">Base样式</a> 下可以查阅相关文档。
      </p>
      <p>
        核心 JS 文件 <code>yfjs-core.js</code> 内包含以下默认引入的组件（按先后次序）：
      </p>
      <figure>
        <pre><code class="no-highlight">- Requirejs (enhanced on v2.1.17)
- jQuery (v1.9.1)
- jquery Plugins
  - $.fn.serializeObject <-- 将表单内容序列化为 json 对象
  - $.parseQuery         <-- 将 URL 路径上的参数字符串解析为 json 对象
  - Bootstrap Plugins (enhanced on v3.3.4)
    - transition  <-- 动画效果适配插件
    - scrollspy   <-- 滚动监听插件
    - affix       <-- 固定元素插件
    - dropdown    <-- 下拉框组件
  - Other Plugins
    - Loader     <-- 默认加载中效果组件
    - metismenu  <-- 折叠菜单组件
    - iCheck     <-- 单选按钮和复选框美化组件
- YFjs (v0.8.1)  <-- 组件库工具类</code></pre>
      </figure>
      <p>
        在 <a href="/yfjs">YFjs工具</a> 下可以查阅核心 JS 库的相关文档。
      </p>
      <p id="guide-usage-index">
        一个完整引入组件库资源的 HTML 页面类似于：
      </p>
      <figure>
        <pre><code class="html">&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta http-equiv="X-UA-Compatible" content="IE=edge"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
    &lt;meta name="renderer" content="webkit"&gt;
    &lt;title&gt;Web Title&lt;/title&gt;
    &lt;!-- scripts --&gt;
    &lt;script src="[yfjs-lib path]/yfjs.js"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
        <button class="btn btn-clipboard" type="button">复制</button>
      </figure>
      <h3 id="guide-usage-options">
        <a class="link-anchor icon-anchor" href="#guide-usage-options"></a>入口配置
      </h3>
      <p>
        在引入组件库的入口 JS 文件时，我们可以通过定义以下属性来扩展组件库的功能。
      </p>
      <ul class="list-options">
        <li>
          <mark>data-cache</mark>: 全局缓存开关，默认为 true。设为 false 则关闭缓存
        </li>
        <li>
          <mark>data-debug</mark>: 调试模式开关，默认为 false，使用压缩后的资源。设为 true 时将使用未压缩的资源
        </li>
        <li>
          <mark>data-debug-css</mark>: 基本样式文件的调试模式开关，默认为 <mark>data-debug</mark>。为 false 时引入压缩后的基本样式文件，否则引入未压缩的基本样式文件
        </li>
        <li>
          <mark>data-debug-module</mark>: 组件模块的调试模式开关，默认为 <mark>data-debug</mark>。为 false 时引入压缩后的组件模块文件，否则引入未压缩的组件模块文件
        </li>
        <li>
          <mark>data-base</mark>: 应用访问基路径，默认继承 <code>&lt;base&gt;</code> 标签值。
        </li>
        <li>
          <mark>data-base-require</mark>: 应用内自定义模块引入基路径，默认相对于 <mark>data-base</mark>。
        </li>
        <li>
          <mark>data-base-css</mark>: 是否引入组件库的基本样式文件，默认为 true。设为 false 时不引入基本样式文件。
        </li>
        <li>
          <mark>data-compatible</mark>: 是否引入所有兼容脚本，默认为 false。设为 true 时自动判断兼容性并引入兼容脚本。
        </li>
        <li>
          <mark>data-compatible-modernizr</mark>: 是否引入 Modernizr 兼容脚本，默认为 <mark>data-compatible</mark>。了解 <a href="http://modernizr.cn/" target="_blank">Modernizr</a>。
        </li>
        <li>
          <mark>data-compatible-respond</mark>: 是否引入 respond 兼容脚本（兼容 Media Query），默认为 <mark>data-compatible</mark>。
        </li>
        <li>
          <mark>data-compatible-html5</mark>: 是否引入 html5shiv 兼容脚本（兼容 HTML5 新元素），默认为 <mark>data-compatible</mark>。
        </li>
        <li>
          <mark>data-compatible-es5</mark>: 是否引入 es5 兼容脚本（兼容 ES5 API），默认为 <mark>data-compatible</mark>。
        </li>
        <li>
          <mark>data-compatible-es6</mark>: 是否引入 es6 兼容脚本（兼容 ES6 API），默认为 <mark>data-compatible</mark>。
        </li>
        <li>
          <mark>data-compatible-json</mark>: 是否引入 JSON 兼容脚本（兼容 JSON.parse 和 JSON.stringify），默认为 <mark>data-compatible</mark>。
        </li>
        <li>
          <mark>data-main</mark>: 应用入口 JS 文件。
        </li>
      </ul>
      <p>
        下面是一个在研发阶段使用的入口配置项示例：
      </p>
      <figure>
        <pre><code class="html">&lt;script src="[yfjs-lib path]/yfjs.js?v=0.8.1"
        data-cache="false"
        data-debug="true"&gt;
&lt;/script&gt;</code></pre>
        <button class="btn btn-clipboard" type="button">复制</button>
      </figure>
    </section>
    <section>
      <h2 id="compatible-browser">
        <a class="link-anchor icon-anchor" href="#compatible-browser"></a>浏览器兼容版本
      </h2>
      <p>
        <code><i class="fa fa-check"></i></code> 表示支持的版本；<code>优</code>表示更佳体验版本。
      </p>
      <div class="table-responsive">
        <table class="table table-bordered text-center" id="table-compatible-browsers">
          <tr>
            <td>类型</td>
            <td><i class="icon-browser ie8"></i></td>
            <td><i class="icon-browser ff"></i></td>
            <td><i class="icon-browser chrome"></i></td>
            <td><i class="icon-browser opera"></i></td>
            <td><i class="icon-browser safari"></i></td>
          </tr>
          <tr>
            <td>版本</td>
            <td>
              <label class="control-label">(<i class="fa fa-check"></i>) IE 8+</label>
              <label class="control-label">(优) IE 9+</label>
            </td>
            <td>
              <label class="control-label">(<i class="fa fa-check"></i>) FireFox 2.0+</label>
              <label class="control-label">(优) FireFox 4.0+</label>
            </td>
            <td>
              <label class="control-label">(<i class="fa fa-check"></i>) Chrome 1.0+</label>
              <label class="control-label">(优) Chrome 4.0+</label>
            </td>
            <td>
              <label class="control-label">(<i class="fa fa-check"></i>) Opera 10.6+</label>
            </td>
            <td>
              <label class="control-label">(<i class="fa fa-check"></i>) Safari 3.1+</label>
            </td>
          </tr>
        </table>
      </div>
    </section>
  </div>
</div>

<script src="/javascripts/docs.js" type="text/javascript"></script>