<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>{{title}}</title>
    <!-- YFjs Lib  -->
    <script src="/yfjs-lib/yfjs.js?v=0.8.1" data-debug-module="true"></script>
    <!-- stylesheets -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- scripts -->
  </head>
  <body>
    <header>
      <div class="container clearfix">
        <div class="logo">
          <a href="/">YoungFront</a>
        </div>
        <div class="nav clearfix">
          <nav class="pull-right">
            <a class="nav-item{{#compare navIndex '==' 6}} on{{/compare}}" href="/">开发规范</a>
            <a class="nav-item" href="https://github.com/jinzhk/yfjs" target="_blank"><i class="fa fa-github"></i></a>
          </nav>
          <nav class="pull-left">
            <a class="nav-item{{#compare navIndex '==' 1}} on{{/compare}}" href="/">开始使用</a>
            <a class="nav-item{{#compare navIndex '==' 2}} on{{/compare}}" href="/basecss">Base样式</a>
            <a class="nav-item{{#compare navIndex '==' 3}} on{{/compare}}" href="/yfjs">YFjs工具</a>
            <a class="nav-item{{#compare navIndex '==' 4}} on{{/compare}}" href="/modules">组件模块</a>
            <a class="nav-item{{#compare navIndex '==' 5}} on{{/compare}}" href="/spa">SPA框架</a>
          </nav>
        </div>
      </div>
    </header>
    {{{body}}}
  </body>
</html>
