<div class="banner">
  <div class="container">
    <h1>YFjs Modules</h1>
    <p>介绍 YFjs 组件库内包含的所有第三方组件。通过组件模块的 ID 可以按需动态引入各功能组件，方便您快速实现页面功能。</p>
  </div>
</div>
<div class="container">

</div>

<script src="/javascripts/docs.js"></script>