<div class="banner">
  <div class="container">
    <h1>YFjs SPA</h1>
    <p>介绍 YFjs 组件库内含的 SPA 框架。配合组件库内的其他组件和插件，您可以基于模块的模式快速实现一个单页面应用系统。</p>
  </div>
</div>
<div class="container">

</div>

<script src="/javascripts/docs.js"></script>